<div class="studentForm">
  <button type="button" name="button" class="addStudentButton" (click) = activateForm()>Add a new Student</button>
  <form [formGroup]="studentForm" (ngSubmit)="onSubmit()" *ngIf = "isFormActive">
    <div class="nameFormGroup" formGroupName="name" required>
      <div class="">
        Name*
      </div>
      <div class="inputControl">
        <input type="text" class="form-control" formControlName="firstName" placeholder="First Name">
      </div>
      <div class="inputControl">
        <input type="text" class="form-control" formControlName="middleName" placeholder="Middle Name">
      </div>
      <div class="inputControl">
        <input type="text" class="form-control" formControlName="lastName" placeholder="Last Name">
      </div>
    </div>
    <div *ngIf="isControlInvalid('name')&&!studentForm.get('name').getError('invalidName')">
        <div class="inputValidationError">
          Name is required.
        </div>
      </div>
      <div *ngIf="studentForm.get('name').getError('invalidName')">
          <div class="inputValidationError">
            {{studentForm.get('name').getError('invalidName')}}
          </div>
        </div>
    <div class="inputControl">
      <label>Date of Birthday*</label>
      <input type="date" class="form-control"  [value]="studentForm.get('dateOfBirthday').value |  date: 'yyyy-MM-dd'" formControlName="dateOfBirthday">
    </div>
    <div *ngIf="studentForm.get('dateOfBirthday').getError('invalidName')">
        <div class="inputValidationError">
          {{studentForm.get('dateOfBirthday').getError('invalidName')}}
        </div>
      </div>
    <div class="inputControl">
      <label>Grade point average*</label>
      <input type="text" class="form-control" formControlName="gradePointAverage" >
      <div *ngIf="isControlInvalid('gradePointAverage')">
          <div class="inputValidationError">
            Grade point average is required.
          </div>
        </div>
    </div>
    <button type="submit">Submit</button>
  </form>
</div>
