<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h2>Welcome to the Students Table</h2>
</div>
<!-- <div class="studentForm">
<button type="button" name="button" class="addStudentButton" (click) = activateForm()>Add a new Student</button>
<form  (ngSubmit)="createStudent()"  *ngIf = "isFormActive">
<div class="">
<h3>Student Registration</h3>
</div>
<hr>
<br>
<div class="form-group">
<label>First Name</label>
<input class="form-control">
<ng-container *ngIf="firstName.dirty">
<div class="inputValidationError" *ngIf="firstName.errors.required">
First Name is requiered
</div>
</ng-container>
</div>
<div class="form-group">
<label>Middle Name</label>
<input class="form-control"
name="middleName"
#middleName="ngModel"
[(ngModel)]="newStudent.middleName"
required>
<ng-container *ngIf="middleName.dirty">
<div class="inputValidationError" *ngIf="middleName.errors.required">
Middle Name is requiered
</div>
</ng-container>
</div>
<div class="form-group">
<label>Last Name</label>
<input class="form-control"
name="lastName"
#lastName="ngModel"
[(ngModel)]="newStudent.lastName"
required>
<ng-container *ngIf="lastName.dirty">
<div class="inputValidationError" *ngIf="lastName.errors.required">
Last Name is requiered
</div>
</ng-container>
</div>
<div class="form-group">
<label>Date of Birth</label>
<input type="date" class="form-control" name="dateOfBirthday" >
</div>
<div class="form-group">
<label>GPA</label>
<input type="text" class="form-control" name="gradePointAverage" >
</div>
<button type="submit" [disabled]="firstName.invalid && lastName.invalid && middleName.invalid"> Create</button>
</form>
</div> -->






<div class="filter">
  <div class="input">
    <p>Start Date:</p>
    <input type="date" [(ngModel)]="dobMin">
  </div>
  <div class="input">
    <p>End Date:</p>
    <input type="date" [(ngModel)]="dobMin">
  </div>
  <div class="input">
    <p>Min GPA</p>
    <input type="text" value="0" placeholder="GPA MAX" [(ngModel)]="gpaMin">
  </div>
  <div class="input">
    <p>Max GPA</p>
    <input type="text" value="5" placeholder="GPA MAX" [(ngModel)]="gpaMax">
  </div>
</div>
<div class="search">
  <input type="search" placeholder="Enter student name" [(ngModel)]=tmpSearchInput>
  <button type="button" name="button" (click)="studentSearch()">Search</button>
  <div class="textFilter">
    Students with GPA<3
  </div>
  <div class="gpaFilter">
    <div class="button-cover" (click)="changeSwitchValue()">
      <div class="button r" id="button-1">
        <input type="checkbox" class="checkbox">
        <div class="knobs"></div>
        <div class="layer"></div>
      </div>
    </div>
  </div>
</div>
<table>
  <tr>
    <th>First Name</th>
    <th>Middle Name</th>
    <th (click)="sortByLastName()">Last Name&#9662;</th>
    <th>Date of Birth</th>
    <th (click)="sortByGPA()">GPA &#9662;</th><th></th>
  </tr>
  <tr *ngFor = "let student of students; let i = index" style.background-color = "{{student.gradePointAverage < 3 && switchEnabled==true ? '#f7dcdf' : ''}}" style.background-color = "{{student.firstName == searchInput || student.lastName == searchInput ? '#f7dcdf' : ''}}">
    <!-- <tr *ngFor = "let student of students | studentsFilter: gpaMin : gpaMax : dobMin : dobMax; let i = index" style.background-color = "{{student.gradePointAverage < 3 && switchEnabled==true ? '#f7dcdf' : ''}}" style.background-color = "{{student.firstName == searchInput || student.lastName == searchInput ? '#f7dcdf' : ''}}"> -->

    <!-- <tr *ngFor = "let student of studentFilter(students)" style.background-color = "{{student.gradePointAverage < 3 && switchEnabled==true ? '#f7dcdf' : ''}}" style.background-color = "{{student.firstName == searchInput || student.lastName == searchInput ? '#f7dcdf' : ''}}"> -->
    <ng-container *ngIf = student.isActive>
      <td>{{student.firstName}}</td>
      <td>{{student.middleName}}</td>
      <td>{{student.lastName}}</td>
      <td>{{student.dateOfBirthday | date:"dd/MM/yyyy"}}</td>
      <td>{{student.gradePointAverage}}</td>
      <td><button type="button" name="button" (click)="showPopUp(student)">Delete</button>
        <button type="button" name="button" class="cancel" (click)="studentEdit(student, i)">Edit</button>
      </td>
    </ng-container>
  </tr>
</table>

<div class="studentForm">
  <button type="button" name="button" class="addStudentButton" (click) = activateForm()>Add a new Student</button>
  <form [formGroup]="studentForm" (ngSubmit)="onSubmit()" *ngIf = "isFormActive">
    <div formGroupName="name">
      <label>First Name</label>
      <input type="text" class="form-control" formControlName="firstName">
      <label>Last Name</label>
      <input type="text" class="form-control" formControlName="lastName">
      <label>Middle Name</label>
      <input type="text" class="form-control" formControlName="middleName">
    </div>
    <label>Date of Birthday</label>
    <input type="date" class="form-control"  [value]="studentForm.get('dateOfBirthday').value |  date: 'yyyy-MM-dd'" formControlName="dateOfBirthday">
    <label>Grade point average</label>
    <input type="text" class="form-control" formControlName="gradePointAverage" >
    <button type="submit" [disabled]="!studentForm.valid">Submit</button>
  </form>
</div>

<ng-container *ngIf = "isPopUpActive">
  <div class="overlay"></div>
  <div class="confirmationPopOp">
    <p>Are you sure you want to delete the student?</p>
    <button type="button" name="button" (click)="deleteStudent()">Delete</button>
    <button type="button" name="button" class="cancel" (click)="closePopUp()">Cancel</button>
  </div>
</ng-container>
